<% if friends.empty? %>
  <div class="container-fluid bg-light pt-2 pb-2 rounded-lg">
    <%= 'No friends' %>
  </div>
<% else %>
  <% @friends.each do |user| %>
    <div class="container-fluid bg-light pt-2 pb-2 rounded-lg">
      <div class="d-flex flex-row align-items-center">
        <div class="mb-2 mt-2 mr-3"><% if user.profile.profile_picture.attached? %>
          <%= image_tag user.profile.profile_picture.variant(resize: '60x60!'), class: "img-fluid rounded-circle" %>
        <% else %>
          <%= image_tag gravatar_image_url(user.email, size: '60'), height: '60', width: '60', class: 'rounded-circle img-fluid' %>
        <% end %></div>
        <div><%= link_to(user.name, user_path(user.id)) %></div>
      </div>
    </div>
  <% end %>
<% end %>